name: Docs
# By a huge margin the slowest test, so we run it separately

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Check if the README is up to date
    # We will do this before all the time-consuming tests
    - name: Check if the README is up to date.
      run: |
        cargo install cargo-rdme
        cargo rdme --check

    # Run tests with all features
    - name: Run complete tests
      run: cargo test --all-features --doc

    # Test documentation generation
    - name: Test documentation
      run: cargo doc --all-features --no-deps