name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Run tests with no features
    - name: Run barebones tests
      run: cargo test --no-default-features --lib

    # Run tests with just plotting feature
    - name: Run plotting tests
      run: cargo test --features "plotting" --lib

    # Run tests with just transforms feature
    - name: Run transforms tests
      run: cargo test --features "transforms" --lib

    # Run tests with all features
    - name: Run complete tests
      run: cargo test --all-features --lib
